{% extends "::base.html.twig"%}
{% block body%}
{% if error %}
<div>{{ error.message }}</div>
{% endif %}
<div class="thumbnail center well well-small text-center">
  <h2>Login</h2>
  <form action="{{ path('login_check') }}" method="post">
    <div class="input-prepend"><span class="add-on"><i class="icon-user"></i></span>
        <input type="text" id="username" name="_username" placeholder="Usuario">
    </div>
     <br />
    <div class="input-prepend"><span class="add-on"><i class="icon-lock"></i></span>
        <input type="password" id="password" name="_password" placeholder="Contraseña">
    </div>
    <br />
    <input type="submit" value="ingresar" class="btn btn-primary" />
  </form>
  <div class="text-center">
  <h4>Si todavía no estas registrado<a class="brand">
          <a href= "{{ path('registro')}}"><i class="icon-pencil"></i>Registrarse</a></h4>
  </div>
{% endblock%}