{% extends '::base.html.twig' %}
{% block title %}Contacto{% endblock%}

{% block body %}
<div class="text-center">
    <header>
        <h1>Contact symblog</h1>
    </header>

    <p>Want to contact symblog?</p>
    </div>
{% endblock %}