
<div class="text-center">
    <p><br/></p>
    <h3>Lista de Comentarios</h3>

    <table class="container table-bordered table-striped">
        <thead>
            <tr class="alert alert-info">
                <th>Usuario</th>
                <th>Comentario</th>
                <th>Fecha</th>
            </thead>
            <tbody>
                {% for entity in entities %}
                    <tr>
                        <td id="comentario-{{ entity.id }}">{{ entity.usuario }}</td>
                        <td>{{ entity.comentario }}</td>
                        <td>{{ entity.fecha | date('d/m/Y h:iA')}}</td>
        {% endfor %}
                   
                </tbody>
            </table>
        </div>
