{% extends '::base.html.twig' %}

{% block body -%}
<div class="text-center">
   <title class="h1">{% block title %}Comentar{% endblock %}</title>
    <h1>Comentario</h1>

    <form action="{{ path('comentario_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit" class="btn-primary">Crear</button>
        </p>
    </form>
   {% if is_granted('ROLE_ADMIN') %}
        <ul class="record_actions">
    <li>
        <a href="{{ path('comentario') }}">
            Volver a la lista
        </a>
    </li>
</ul>
    {% endif %}
</div>
{% endblock %}
