<div class="container text-center">
<div class="span8" sytle="float:none;margin:0 auto"></div>
    <legend>Ingresa un comentario</legend>
   <title class="h1">{% block title %}Comentar{% endblock %}</title>
    <form action="{{ path('comentario_create', { 'publicacion_id' : publicacion.id }) }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
            <p>
                <button type="submit" class="btn-primary">Comentar</button>
            </p>
        </form>
    </div>
 </div>


