<div class="span5"><p></p></div>
<div class="span3 well container text-center">
   <legend>Ingresa un comentario</legend>
   <title class="h1">{% block title %}Comentar{% endblock %}</title>
    <form action="{{ path('comentario_create', { 'publicacion_id' : publicacion.id }) }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit" class="btn-primary">Comentar</button>
        </p>
    </form>
   {% if is_granted('ROLE_ADMIN') %}
        <ul class="record_actions">
    <li>
        <a href="{{ path('comentario') }}">
            Volver a la lista
        </a>
    </li>
</ul>
    {% endif %}
  </div>


