{% extends "::base.html.twig" %}
   {% block titulo%}<h1 align="center">Agregar una Mascota</h1>{%endblock%}
   {% block body %}
   <title class="h1">{% block title %}Agregar Mascota{% endblock %}</title>
   <div align="center" style="central">
    <form action="{{ path('mascota_create') }}" method="post" class="text-center" {{ form_enctype(form) }} style="color: blue">
        <div align="center">{{ form_widget(form) }}</div>
        <p>
            <button type="submit" class="btn-primary">agregar</button>
        </p>
    </form>
        <ul class="record_actions">
    <li>
        <a href="{{ path('mascota') }}">
            Volver a la lista
        </a>
    </li>
</ul>
 </div>
{% endblock %}
