{% extends "::base.html.twig" %}
   {% block titulo%} <h1 class="text-center">Agregar una Mascota</h1>{%endblock%}
   {% block body %}
   <div class="text-center">
    <form action="{{ path('mascota_create') }}" method="post" {{ form_enctype(form) }} style="color: blue">
        {{ form_widget(form) }}
        <p>
            <button type="submit" class="btn-primary">agregar</button>
        </p>
    </form>
        <ul class="record_actions">
    <li>
        <a href="{{ path('mascota') }}">
            Volver a la lista
        </a>
    </li>
</ul>
 </div>
{% endblock %}
