{% extends '::base.html.twig' %}

{% block body %}
<title class="h1">{% block title %}Nueva Publicacion{% endblock %}</title>
<div class="text-center">
    <h3>Crear una Nueva Publicacion</h3>
    <h5 class="text-info"><br>Si Perdiste a tu mascota, en el campo "tipo" coloca:Perdido.</br>
        <br>Si has encotrado una mascota en el campo "tipo" coloca: Encontrado.</br></h5>
    <form action="{{ path('publicacion_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit" class="btn-primary">publicar</button>
        </p>
    </form>
         {% if is_granted('ROLE_ADMIN') %}
        <ul class="record_actions">
    <li>
        <a href="{{ path('publicacion') }}">
            Volver a la Lista
        </a>
    </li>
</ul>
     {% endif%}
</div>
{% endblock %}
